.product-list {
  padding: 50px 21px;
}
.product-list-title {
  font-size: 32px;
  color: rgb(66, 66, 66);
  border-bottom: 3px solid rgb(66, 66, 66);
  width: max-content;
}
.product-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}
/*Responsive*/
@media screen and (max-width: 680px) {
  .product-list {
    padding: 21px;
  }
}

@media screen and (min-width: 680px) {
  .product-list-wrapper {
    flex-direction: row;
  }
}

@media screen and (min-width: 920px) {
  .product-list-wrapper {
    justify-content: space-around;
  }
}
