/*Form*/
form {
    margin-top: 17px;
}
form input {
    height: 50px;
}
form textarea, form input {
    width: 100%;
    border: 1px solid #cfcccc;
    border-radius: 7px;
    margin: 10px 0;
    font-size: 17px;
    padding-right: 10px;
}
form textarea {
    padding: 10px;
}
form input:focus, form textarea:focus {
    outline: none;
    box-shadow: 0 0 1px 1px skyblue;
}

form button {
    cursor: pointer;
    color: white;
    background-color: #1fa588;
    padding: 7px 17px;
    font-weight: 500;
    font-size: 21px;
    border: none;
    border-radius: 7px;
    margin-bottom: 10px;
}