.toggle {
    width: 50px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 21px;
    right: 21px;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
    padding: 5px;
}
.toggle-icon {
    width: 20px;
    height: 20px;
}
.toggle-btn {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    background-color: rgb(119, 116, 116);
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease;
}
.toggle-icon.sun::after{
    content: "\1F31E";
}
.toggle-icon.moon::after{
    content: "\1F31C";
}